<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{HTTP_HOST} ^www\.nieruchomoscwtajlandii\.pl$ [NC,OR]
  RewriteCond %{HTTPS} !=on
  RewriteCond %{HTTP:X-Forwarded-Proto} !https [NC]
  RewriteRule ^ https://nieruchomoscwtajlandii.pl%{REQUEST_URI} [R=301,L,NE]

  RewriteBase /panel/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /panel/index.html [L]
</IfModule>
